$color-blue-dark: rgb(0, 68, 124);
$color-blue: rgb(0, 85, 150);
$color-red: rgb(238, 49, 36);
$color-white: rgb(255, 255, 255);

$main-color-background: $color-blue-dark;
$main-color: $color-white;

//$color-performed-overdue: #E71D37;
//$color-completed-overdue: #F9A100;
//$color-completed-on-time: #218838;
$color-performed-overdue: rgba(220, 53, 69, 0.9);
$color-completed-overdue: rgba(255, 192, 5, 0.9);
$color-completed-on-time: rgba(40, 167, 69, 0.9);
$color-disabled: rgba(0, 0, 0, .3);
$color-selected: rgba(51, 153, 255, .9);
$plan-item-margin: 1px 0 0;
$plan-item-cursor: pointer;
$plan-item-border: 1px solid #ccc;
$plan-item-border-radius: 5px;
$plan-item-text-shadow: 0 0 2px rgba(0,0,0,.3);
$plan-item-box-shadow: 1px 1px 5px rgba(0,0,0,.3);

$border-color: #d8d8d8;